@model List<UserVM>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Users</h4>
                    <a class="btn btn-primary text-white mx-2 btn-rounded" asp-action="Create">Create</a>
                </div>
                <div class="table-responsive pt-3">
                    <table id="mySliders" class="table table-bordered">
                        <thead>
                            <tr>

                                <th>
                                    Username
                                </th>

                                <th>
                                    FullName
                                </th>

                                <th>
                                    Email
                                </th>

                                 <th>
                                    Role
                                </th>

                                <th>
                                    Status
                                </th>

                                <th class="text-right">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserVM item in Model)
                            {
                                <tr>

                                    

                                    <td>
                                        @item.UserName
                                    </td>

                                    <td>
                                        @item.FullName
                                    </td>

                                    <td>
                                        @item.Email
                                    </td>

                                    <td>
                                        @item.Role
                                    </td>



                                    <td>
                                        @if (item.IsDeactive)
                                        {
                                            <span class="text-danger">Passiv</span>
                                        }
                                        else
                                        {
                                            <span class="text-success">Aktiv</span>

                                        }
                                    </td>
                                    


                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <a asp-action="ResetPassword" asp-route-id="@item.Id" class="btn btn-warning text-white mx-2 btn-rounded">Reset Password  </a>
                                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success text-white mx-2 btn-rounded">Update</a>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success text-white mx-2 btn-rounded">Change Role</a>
                                            @if (item.UserName != User.Identity.Name)
                                            {
                                                @if (item.IsDeactive)
                                                {
                                                    <a asp-action="Activity" asp-route-id="@item.Id" style="width:120px" class="btn btn-outline-success  mx-2 btn-rounded">Activate</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Activity" asp-route-id="@item.Id" style="width:120px" class="btn btn-outline-danger mx-2 btn-rounded">Deactivate</a>

                                                }
                                            }

                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>